<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<div class="container">
	<img src="" class="profile" th:src="@{/images/profile.jpg}" alt="" />
	<h1>Adding CSS, Javascript and Image in thymeleaf</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus atque ea provident enim sed aliquam possimus assumenda sequi sapiente nisi aperiam nostrum voluptas perferendis temporibus omnis eveniet expedita recusandae facilis et voluptatum? Mollitia assumenda quos optio veniam quam. Asperiores maiores aliquid fuga quas beatae ut laborum perferendis explicabo in esse.</p>
	
	</div>
	<script src="" th:src="@{js/myjs.js}"></script>
	
</body>
</html>